.nav-bar-contain {
  position: fixed;
  bottom: -2px;
  left: 0;
  right: 0;
}

.semi-progress-circle-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B3A89!important;
}

.home-contain {
  background-color: var(--bg-primary-color);
}

.card-description {
  background-image: url("/img/crown.png");
  background-repeat: no-repeat;
  background-position: right;
   /*border: 1px solid var(--bs-gray);*/
  border-radius: 10px;
  box-shadow: 0 9px 49px 0 rgba(0, 0, 0, .1);
}


.card-amount-container{
  top: 93%;
  left: 0;
  right: 0;
  /*height: 500px;*/
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home-contain::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.home-contain {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


  /* Hide scrollbar for Chrome, Safari and Opera */
.home-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.home-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
