.select-amount{
  font-size: 36px!important;
}

.content-amounts{
  overflow-x: scroll;
}

.active-payment{
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content-amounts::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-amounts {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cover{
  position: fixed;
  background-color: white;
  inset: 0;
  z-index: 50000;
  box-shadow: 0 0 100px 10px #ccc;
  border-radius: 5px;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cover::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cover {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.cover_closer{
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  box-shadow: 0 0 20px #cccccc;
}

.code_pay{
  font-size: 36px!important;
}
