.notification {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-counter{
  height: 15px;
  width: 15px;
  top: calc(50% - 18px);
  left: calc(50% );
  position: absolute;
}
