.semi-progress-circle {
  height: 200px;
  width: 250px;
  position: relative;
}

.progress-cover {
  position: absolute;
  top: 0;
  opacity: 0.5;
}

.percent-text {
  position: absolute;
  font-size: 16px;
  bottom: 0;
  color: rgba(255, 255, 255, 0.8);
}

.solde-text {
  position: absolute;
  font-size: 20px;
  font-weight: bolder;
  bottom: 30px;
  right: -60px;
  color: rgba(255, 255, 255, 0.8);
}

.text-0 {
  left: 10px;
}

.text-100 {
  right: 0;
}

.actif-group {
  top: 100px;
  left: 0;
  right: 0;
}

.blue-point{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2457dc;
  position: absolute;
  left: 6px;
  bottom: 29px;
  z-index: 100;
}


@media screen and (max-width: 360px){
  .semi-progress-circle {
    height: 150px;
    width: 180px;
    left: 10px;
    bottom: 20px;
  }

  .actif-group {
    top: 70px;
  }

  .percent-text {

    bottom: -10px;
    color: rgba(255, 255, 255, 0.8);
  }


  .text-0 {
    left: 5px;
  }

  .text-100 {
    right: -10px;
  }

  .blue-point{
    left: 3px;
    bottom: 27px;
    width: 17px;
    height: 17px;
  }
}

.container-progress{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
  width: 100%;
  /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  -webkit-transition: stroke-dashoffset 0.5s ease 0s;
  transition: stroke-dashoffset 0.5s ease 0s;
  position: relative;
}

.CircularProgressbar .CircularProgressbar-path::after {
  content: '';
  position: absolute;
  stroke: white;
  stroke-linecap: round;
  -webkit-transition: stroke-dashoffset 0.5s ease 0s;
  transition: stroke-dashoffset 0.5s ease 0s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 12px;
  dominant-baseline: middle;
  text-anchor: middle;
  transform: translateY(-20px);
  position: relative;
}


.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}


