

body {

}

.tired {
  flex: 1;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px dashed black;
}


.nav-bar {
  box-shadow: 0 9px 49px 0 rgba(0, 0, 0, .1);
}

.nav-bar .active svg {
  fill: var(--primary-color);

}

.nav-bar .active span {
  color: var(--primary-color);
  font-weight: bold;
}
