:root {
  --primary-color: #000000;
  --subtitle-text-color: #565656;
  --border-color: #DADADA;
  --primary-color-hover: #2457dc;
  --bg-primary-color: #F1F1F1;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.lite-gray-text {
  color: var(--subtitle-text-color);
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

/* CSS Mobile Reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-size: 17px;
  background: #fff;
  padding: 0;
  margin: 0;
  color: #000;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}

*{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p img {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 17px !important;
}

span {
  font-size: 16px;
}

img {
  border: 0;
  max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  height: 46px
}

.field label {
  font-size: 16px !important;
}

.ui.button {
  font-size: 18px;
  display: block;
}

table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
